.aboutpage {

  .sec-1 {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url('../assets/images/about/3616.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      padding: 329px 0 20px 0;
      font-size: 100px;
      font-family: futura_B;
      font-weight: 100;
      line-height: 133px;
      color: #c2cdfa;
      text-align: center;
      opacity: 1;
    }
    

    .para {
      display: flex;
      justify-content: space-between;

      p {
        max-width: 484px;
        flex: 1;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        color: #333333;
      }
    }

  }

  .sec-2 {
    position: relative;


    .ourteam {
      position: relative;
      padding: 5rem 0;

      h1 {
        font-size: 100px;
        font-family: futura_B;
        font-weight: 100;
        line-height: 133px;
        color: #333333;
      }

      p {
        font-size: 30px;
        line-height: 60px;
        color: #333333;
      }

    }


    .james {
      position: relative;
      margin-top: 10rem;
      width: 100%;
      height: 528px;

      .content {
        display: flex;

        .pic {
          position: relative;
          flex: 1;
          bottom: 262px;
          object-fit: contain;
          width: 830px;
          height: 830px;
        }

        .right {
          // position: relative;
          flex: 1;
          padding: 4rem 0;

          .upper {
            display: flex;
            align-items: flex-end;

            h3 {
              font-size: 40px;
              font-family: Futura;
              font-weight: 100;
              line-height: 35px;
              color: #333333;
            }

            h4 {
              font-size: 30px;
              font-family: Futura;
              font-weight: 100;
              line-height: 35px;
              color: #333333;
              padding-top: 1.5rem;

            }

            .twitter {
              margin-left: 3rem;
              width: 43px;
              height: 43px;
              cursor: pointer;
            }
          }

          p {
            font-size: 20px;
            // font-family: DINpro;
            // font-weight: 400;
            line-height: 40px;
            color: #333333;
            padding-top: 2rem;
            max-height: 320px;
            overflow-y: hidden;
          }
        }
      }
    }
  }

  .sec-3 {
    display: grid;
    width: 90%;
    margin: 0 auto; 
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 5rem 0;
    gap: 5rem;

    .staff {
      display: flex;

      
      h1 {
        font-size: 120px;
        font-family: Futura_b;
        font-weight: 100;
        line-height: 140px;
        color: #1E4AFF;
        opacity: 0.23;
      }

      img {
        width: 276px;
        height: 276px;
      }

      div {

        padding-left: 3rem;

        .title {
          padding: 0;
          margin: 0;
        }

        h3 {
          padding-top: 1rem;
          font-size: 40px;
          font-family: Futura;
          font-weight: 100;
          line-height: 35px;
          color: #333333;
        }
  
        h4 {
          font-size: 30px;
          font-family: Futura;
          font-weight: 100;
          line-height: 35px;
          color: #333333;
          padding-top: 1rem;
  
        }
  
        p {
          position: relative;
          padding: 5rem 0;
          font-size: 20px;
          // font-family: DINpro;
          // font-weight: 300;
          line-height: 30px;
          color: #333333;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 25px;
            background: #FFD729;
            top: 2rem;
          }
        }

      }

      
    }
  }


  .sec-4 {
    position: relative;
    max-width: 1800px;
    margin: 5rem auto;

    .right {
      position: absolute;
      top: 0;
      right: 0;

      h1 {
        position: relative;
        font-size: 100px;
        font-family: futura_B;
        font-weight: 100;
        line-height: 133px;
        color: #333333;
        text-align: center;
        z-index: 2;
      }
  
      .text {
        position: relative;
        width: 1004px;
        height: 496px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 80px;
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        color: #333;
        background-color: rgba(255,255,255,1);
        z-index: 1;
        text-align: left;

        a {
          font-size: 40px;
          color: #122981;
        }
      }
    }

    

    .pic {
      position: relative;
      z-index: 0;

      img {
        width: 1148px;
        height: 735px;
        object-fit: contain;
      }
    }

  }


}

@media screen and (max-width: 1440px) {  
  .aboutpage .sec-1 .para p {
    font-size: 22px;
    padding: 0 0.5rem;
  }

  .aboutpage .sec-2 .james .content .right p {
    padding-right: 1rem;
  }

}

@media screen and (max-width: 800px) { 
  .aboutpage {
    .sec-1 {
      padding: 0 1rem;
      height: auto;
      background: none;

      h1 {
        padding: 89px 0 20px 0;
        font-size: 28px;
        font-family: Futura_b;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        text-align: left;
        opacity: 1;
      }
      
  
      .para {
        display: block;
  
        p {
          padding: 1rem 0;
          font-size: 16px;
          font-family: Heiti SC;
          font-weight: 300;
          line-height: 28px;
          color: #333333;
        }
      }
    }

    .sec-2 {
      position: relative;
      padding: 0 1rem;
  
      .ourteam {
        position: relative;
        padding: 1rem 0;
  
        h1 {
          font-size: 28px;
          font-family: Futura_b;
          font-weight: bold;
          line-height: 37px;
          padding: 20px 0;
        }
  
        p {
          font-size: 16px;
          font-family: Heiti SC;
          font-weight: 300;
          line-height: 28px;
        }
  
      }
  
  
      .james {
        position: relative;
        margin-top: 1rem;
        width: 100%;
        height: auto;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          width: 100vw;
          height: 137px;
          background: #F2F2F2;
          top: 5.8rem;
          left: -1rem;
          z-index: 0;
        }
  
        .content {
          display: flex;
          align-items: flex-start;
  
          .pic {
            position: absolute;
            left: -30px;
            top: -3.5rem;
            bottom: initial;
            object-fit: contain;
            width: 300px;
            height: auto;
            z-index: 2;
          }
  
          .right {
            position: relative;
            z-index: 3;
            flex: 1;
            padding: 0;
            padding-top: 7rem;
            padding-bottom: 25rem;
  
            .upper {
              display: block;
              text-align: right;
  
              h3 {
                font-size: 28px;
                font-family: Futura;
                font-weight: 500;
                line-height: 14px;
              }
  
              h4 {
                font-size: 16px;
                font-family: Futura;
                font-weight: 500;
                line-height: 14px;
              }
  
              .twitter {
                margin-left: 0;
                margin-top: 1rem;
                width: 23px;
                height: 23px;
                cursor: pointer;
              }
            }
  
            p {
              position: absolute;
              top: 15rem;
              left: 0;
              font-size: 16px;
              // font-family: Heiti SC;
              font-weight: 300;
              line-height: 28px;
              padding: 0;
              max-height: auto;
              overflow-y: visible;
            }
          }
        }
      }
    }

    .sec-3 {
      display: block;
      width: 100%;
      padding: 2rem 1rem;
      

      .team {
        width: 40%;
      }
  
      div {
        min-height: auto;
      }
  
      .staff {
        display: block;
        position: relative;
        padding: 1rem 0;

        h1 {
          font-size: 50px;
          line-height: 60px;
        }

        img {
          width: 108px;
          height: 108px;
        }
  
        div {
          padding-left: 0;

          .title {
            position: absolute;
            top: 0.5rem;
            left: 130px;
          }

          
  
          h3 {
            font-size: 28px;
            font-family: Futura;
            font-weight: 500;
            line-height: 28px;
            color: #333333;
          }
    
          h4 { 
            font-size: 16px;
            font-family: Futura;
            font-weight: 500;
            line-height: 16px;
            padding-top: 1rem;
          }
    
          p {
            position: relative;
            padding: 0;
            padding-top: 3rem;
            font-size: 16px;
            font-family: Heiti SC;
            font-weight: 300;
            line-height: 28px;
            color: #333333;
  
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 10px;
              background: #FFD729;
              top: 1rem;
            }
          }
  
        }
  
        
      }
    }

    .sec-4 {
      padding: 1rem;
  
      .right {
        position: relative;
        top: 0;
        right: 0;
  
        h1 {
          position: relative;
          font-size: 28px;
          font-family: Futura_b;
          font-weight: bold;
          line-height: 37px;
          color: #333333;
          z-index: 2;
        }
    
        .text {
          position: relative;
          width: 100%;
          height: auto;
          padding: 1rem 0;
          font-size: 16px;
          font-family: Heiti SC;
          font-weight: 300;
          line-height: 28px;
          color: #333;
          background-color: none;
          z-index: 1;
          text-align: left;

          p {
            margin: 0.5rem 0;
          }
  
          a {
            font-size: 16px;
            color: #122981;
          }
        }
      }
  
      
  
      .pic {
        display: none;
        position: relative;
        z-index: 0;
  
        img {
          width: 1010px;
          height: 690px;
        }
      }
  
    }


  }

}